.content{
	margin-top: 1.171875rem;
	/*background-color: pink;*/
	width: 100%;
}
.content .category{
	width: 100%;
	height: 3.8125rem;/* 244px */
	padding: 0 0.171875rem;/* 0 11px */
	box-sizing: border-box;
}
.category .eachCategory{
	margin-right: 0.0163934426229508rem;/* 1px */
	position: relative;
}
.category .eachCategory a{
	display: block;
	width: 1.90625rem;/* 122px */
	height: 1.90625rem;/* 122px */
	padding-top: 0.296875rem;/* 19px */
	text-align: center;
	color: #525252;
	box-sizing: border-box;
}
.eachCategory .ico img{
	width: 0.9375rem;/* 60px */
	height: 0.9375rem;/* 60px */;
}
.category .eachCategory span{
	display: block;
}
.eachCategory .categoryName{
	margin-top: 0.09375rem;/* 6px */
}
.category .ico_sign img{
	width: 0.984375rem;/* 63px */
	height: 0.421875rem;/* 27px */
	position: absolute;
	left: 0.703125rem;/* 45px */
	top: 0.078125rem;/* 5px */
}
.content .banner{
	width: 100%;
	height: 2.34375rem;
	position: relative;
}
.banner .banner_pic{
	width: 100%;
	height: 2.34375rem; /* 150px */
	position: absolute;
	left: 0;
	top: 0;
}
.banner .banner_pic img{
	width: 100%;
	height: 100%;
}
.banner .banner_btnList{
	width: 1.5625rem;
	position: absolute;
	bottom: 7px;
	left: 270px;
}
.banner_btnList li{
	float: left;
	width: 0.15625rem;/* 10px */
	height: 0.15625rem;/* 10px */;
	margin-right: 8px;
	border-radius: 5px;
}
.banner_btnList li img{
	width: 100%;
	height: 100%;
}
.content .special{
	width: 100%;
	height: 7.78125rem;/* 498px */
}
.content .special li{
	width: 4.984375rem;/* 319px */
	height: 2.859375rem;/* 183px */
	border-right: 0.03125rem solid #dadcdb;
	border-bottom: 0.03125rem solid #dadcdb;
}
.content .special li img{
	width: 100%;
	height: 100%;
}
.content .special li:nth-child(2){
	border-right: none;
}
.content .special li:nth-child(4){
	border-right: none;
}
.content .special_banner{
	width: 100%;
	height: 1.96875rem;/* 126px */
}
.content .special_banner img{
	width: 100%;
	height: 100%;/* 126px */
}
.content .lehuozhoumo img{
	width: 100%;
	height: 100%;
}
.content .commonHead{
	height: 1.078125rem;
	/*border-top: 0.03125rem solid #d8dad9;
	border-bottom: 0.03125rem solid #d8dad9;*/
}
.lehuozhoumo .scrollPic{
	width: 100%;
	height: 3.453125rem;
}
/*.lehuozhoumo .scrollPic ul{
	width: 100%;
	height: 2.8125rem;
}*/
.lehuozhoumo .scrollPic li{
	width: 3.3125rem;/* 211px */
	height: 3.453125rem;/* 180px */
	margin-left: 0.28125rem;/* 18px */
}
.big_pic{
	height: 2.875rem;
}
.small_pic{
	height: 2.875rem;
}
.small_pic li{
	width: 4.53125rem;/* 290px */
	height: 100%;
}
.goodPlace{
}
.goodPlace img{
	width: 100%;
	height: 100%;
}
.parts1_list{
	width: 9.1875rem;/* 588px */
	height: 4.71875rem;/* 302px */
	border: 0.03125rem solid #d8dad9;
	border-top: none;
	padding-left: 0.359375rem;
	box-sizing: border-box;
} 
.parts1_list li{
	border-bottom: 0.03125rem solid #d8dad9;
	height: 1.546875rem;/* 99px */
	line-height: 1.546875rem;
	color: #131313;
	font-size: 0.375rem;
} 
.travel_price{
	color: #ff3900;
	font-size: 0.4375rem;
	margin-right: 0.359375rem;
}
.tab_menu{
	margin-top: 0.140625rem;
	height: 1.734375rem;
}
.tab_menu li{
	width: 1.53125rem;/* 98px */
	height: 0.46875rem;/* 30px */
	margin-top: 0.234375rem;/* 15px */
	margin-right: 0.25rem;/* 16px */
	border-width: 0.046875rem;
	border-style: solid;
	border-radius: 0.234375rem;/* 15px */
	text-align: center;
	line-height: 0.46875rem;
	font-size: 0.3125rem;/* 20px */
}
.tab_menu li:nth-child(5),.tab_menu li:nth-child(10){
	margin-right: 0;/* 16px */
}
.goodPlace .tab_menu li{
	border-color: #48a6e3;
	color: #48a6e3;
}
.lookWorld img{
	width: 100%;
	height: 100%;
}
.lookWorld .big_pic2{
	height: 7.984375rem;
}
.lookWorld .big_pic2 li{
	width: 4.53125rem;/* 290px */
	height: 3.890625rem;
	margin-bottom: 0.1875rem;/* 12px */
}
.lookWorld .tab_menu li{
	border-color: #9186e4;
	color: #9186e4;
}
.lookWorld .tab_menu{
	margin-top: 0.1875rem;
}
.lookWorld .youlun_huanqiugou{
	margin-top: 0.375rem;
	height: 2.890625rem;
	border-top: 0.03125rem solid #d8dad9;
}
.youlun_huanqiugou li{
	width: 4.984375rem;/* 319px */
	height: 2.859375rem;/* 183px */
	border-right: 0.03125rem solid #dadcdb;
}
.youlun_huanqiugou li:last-child{
	border-right: none;
}
.guessYouLike{
	height: auto;
}
.guessYouLike img{
	width: 100%;
	height: 100%;
}
.guessYouLike .guess_pic{
	/*height: 7.984375rem;*/
}
.guessYouLike .guess_pic li{
	width: 4.53125rem;/* 290px */
	height: 6.609375rem;/* 423px */
	margin-bottom: 0.140625rem;
}
.guess_pic .pic{
	width: 100%;
	height: 4.53125rem;
}
.guess_pic .name_price{
	height: 2.046875rem;
	border: 0.03125rem solid #d8dad9;
	border-top: none;
	padding: 0.21875rem 0.3125rem 0 0.3125rem;
	box-sizing: border-box;
}
.name_price .goodsName{
	display: block;
	color: #181818;
	line-height: 0.453125rem;/* 29px */
}
.name_price .goodsPrice{
	display: block;
	color: #ff4401;
	line-height: 0.796875rem;/* 51px */
	font-size: 0.40625rem;
}
.content_foot{
	width: 100%;
	height: 2.296875rem;/* 147px */
	border-top: 0.03125rem solid #dadcdb;
	margin-top: 0.25rem;
	
}
.content_foot img{
	width: 100%;
	height: 100%;
}
