/* 样式重置表 */
body,h3{/* ,h1,h3,h4,dl,dd,p */
	margin: 0;
}
img{
	vertical-align: top;
	border: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color:transparent;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
input {
	-webkit-appearance:none;
}
form{
	margin: 0;
	padding: 0;
}
